a:link, a:visited, a:active {
  color: #313736;
  text-decoration: none; }
a:hover {
  color: #313736;
  text-decoration: none;
  text-decoration: underline; }

html {
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #424242;
  color: #e9e9e9;
  font-family: "Merriweather", georgia, serif; }

#main {
  max-width: 728px;
  margin: 40px auto;
  text-align: center; }

#title h1 {
  font-variant: small-caps;
  color: #ff9900;
  font-size: 28px;
  text-shadow: 0 0 1px #424242;
  margin-bottom: 15px; }

#text {
  display: block;
  line-height: 48px;
  font-size: 42px;
  text-shadow: 0 0 1px #424242; }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: local("Merriweather"), url("http://themes.googleusercontent.com/font?kit=RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM") format("woff"); }

