<div id="title"><h1>it's a git... addicted!</h1></div>
<div id="text">Online Github summary</div><br>
( user / repo )
<br><br>

<form method="post" id="searchform" action="/">
  <fieldset class="search">
    <input type="text" class="box" name="user"/> / <input type="text" class="box" name="repo"/><br><br>
    <button class="btn" title="Summarize">Summarize</button>
  </fieldset>
</form>
<<<<<<< HEAD

<a href="http://github.com/fyskij/octodigest"> <img src="/octojedi.png"\> <p></a><em>Use the <a href="http://github.com/fyskij/octodigest">source</a>, Luke</em>
<br>
=======
>>>>>>> shura
