<form method="post" id="searchform" action="/">
  <fieldset class="search">
    <input type="text" class="box" name="user"/> / <input type="text" class="box" name="repo"/><br><br>
    	<button class="btn" title="Summarize">Summarize</button>
  </fieldset>
</form>
  <div id="footer">
    Brought to you by <a href="http://github.com/fyskij"> Gildo Fiorito </a>
  </div
