<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <title>it's a git... addicted!</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15799604-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body> 
    <div id="main"> 
      <div id="title"><h1>it's a git... addicted!</h1></div>
      <div id="text">Online git summary</div><br>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    Brought to you by <a href="http://github.com/fyskij"> Gildo Fiorito </a>
  </div>
</body>
</html>
